<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>Tabs</h2>
        <a href="/home" class="tab-link">Home</a>
        <a href="/settings" class="tab-link">Settings</a>
        <!-- adds the other tabs -->
    </div>

    <div class="main" id="page-content">
        <!-- content will be loaded here -->
    </div>

    <h6 id="footer">
        @2026 Heath Nathan Poulsen | Heathp3881@qackids.org, all rights reserved.
    </h6>
    <h6 id="version">
        0.1.0-alpha
    </h6>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
