<div class="card">
    <h3>Dark Mode</h3>
    <p>(insert super cool parapgrah here explaining what dark mode is)</p>
    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label> Dark Mode
</div>

<div class="card">
    <h3>Placeholder</h3>
    <p>"Aaaah the settings don't work what am I ever going to do with my lif-" shut. Shut, shut.. Shut it, shut.</p>
    <label class="switch">
        <input type="checkbox" checked>
        <span class="slider"></span>
    </label> Placeholder Text
</div>
